.navbar-static-top {
  margin-bottom:20px;
}

body{
  margin-top: 0px;
  padding-top: 0px;
}

/* Menu superior */
#logo{
  margin-left: 1%;
}

#options{
 margin-top: 0.3%;
 margin-left: 80%;

}

.bandera{
  width: 23.5px;
  margin-top: 1.5px;
  
}

#logout{
  height: 35.86px;
 
 
  background-color: #747474;
}

#desplegable{
  height: 35.86px;
  margin-top: 1%;
  background-color: #747474;
}

#user{
  font-size: 18px;
  margin-left: 20%;
  margin-top: 5%;
}

#idioma{
  font-size: 18px;
  margin-top: 5%;
  margin-left: 2%;
}
/* Menu izquierda */


.barraIzq{
  margin-left: 5%;
}

#optionsBarrIzq{
  color: #444444;
}

/* Calendario y botones de este */

.fecha, .horas{
  color: #fff;
  background-color: #878787;
  text-align: center;
}

.select{/* Boton de Actividades/Salas */
  
  height: 40px;
}

.btn{
  color: #fff;
  background-color: #878787;
}

#ant{
  font-weight: bold;
}

#sig{
  font-weight: bold;
}

#tabla{
 
  margin-right: 5%;
}

#colorRefCalendario{
  color: #444444;
}

#labelPerf{
  font-weight: normal;
}

#cajaContrPerf{
  margin-top: 3%;
}




/* Gestion de usuarios */
  /* Añadir usuarios */

  #CrearUsrButtons{
    margin-top:  2%;
  }

  #resetUsrAdd{
    margin-left: 30%;
  }

  /* Consultar usuarios */

  #ConsultarUsrButtons{
    
    margin-bottom: 1%
  }

  #tablaConsultaUsuarios{
    
    margin-left: 2%;
  }

  #textoConsultUser{
    text-align: center;
  }

  #CrearPerfButtons{
    margin-top:  2%;
    margin-left: 17%;
  }
  #resetPerfAdd{
    margin-left: 15%;
  }

  #tituloAccPerf{
    margin-left: 6.5%;
  }








i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

ul li ul {
   /* Resto de estilos... */
   display: none;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}


